{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/select2-bootstrap.min.css') }}" />

    {% block stylesheets_extra %}{% endblock %}
{% endblock %}


{% block title %}{% endblock %}
{% block body_class %}{% endblock %}
{% block body %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('post_index') }}">
                    <img src="{{ asset('img/logo.svg') }}" class="logo" alt="Intracto Library">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/Intracto/ITRLibrary/issues" target="_blank">
                        {{ 'report_issue'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close'|trans }}</span></button>
                <strong>Success!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close'|trans }}</span></button>
                <strong>Error!</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Modal Dialog -->
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'delete'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ 'are_you_sure'|trans }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                    <button type="button" class="btn btn-danger" id="confirm">{{ 'delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        window.jQuery || document.write("<script src='{{ asset('js/jquery.min.js') }}'>"+"<"+"/script>");
    </script>

    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    {% block javascript_bottom %}
        <!-- Dialog show event handler -->
        <script type="text/javascript">
            $(".js-select2").select2({
                tags: true,
                createTag: function (tag) {
                    found = false;
                    $(".js-select2 option").each(function() {
                        if ($.trim(tag.term).toUpperCase() == $.trim($(this).text()).toUpperCase()) {
                            found = true;
                        }
                    });
                    if (!found) {
                        return {
                            id: tag.term,
                            text: tag.term + " ({{ 'new'|trans }})",
                            isNew: true
                        };
                    }
                }
            });
            $('#confirmDelete').on('show.bs.modal', function (e) {
                $message = $(e.relatedTarget).attr('data-message');
                $(this).find('.modal-body p').text($message);
                $title = $(e.relatedTarget).attr('data-title');
                $(this).find('.modal-title').text($title);

                // Pass form reference to modal for submission on yes/ok
                var form = $(e.relatedTarget).closest('form');
                $(this).find('.modal-footer #confirm').data('form', form);
                $(this).find('.modal-footer #confirm').data('url', $(e.relatedTarget).data('url'));
            });

            <!-- Form confirm (yes/ok) handler, submits form -->
            $('#confirmDelete').find('.modal-footer #confirm').on('click', function(){
                $(this).data('form').submit();
                url = $(this).data('url');
                if (typeof url !== "undefined") {
                    window.location.href = url;
                }
            });
        </script>
    {% endblock %}
    {% block javascript_page_specific %}{% endblock %}
{% endblock %}