{% extends 'ITRLibraryBundle::layout.html.twig' %}

{% block content %}
    <h1>
        {{ 'add_post'|trans }}
        <div class="pull-right">
            <a class="btn btn-info" href="{{ path('post_index') }}">{{ 'back_to_index'|trans }}</a>
        </div>
    </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="{{ 'save'|trans }}" />
    {{ form_end(form) }}
{% endblock %}
